/* Polices, tailles, textes */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-text);
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: var(--spacing-md);
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-sm);
}

h3 {
  font-size: var(--font-size-h3);
  margin-bottom: var(--spacing-xs);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

ul, li {
  list-style: none;}