.table-custom {
   thead.table-dark {
   /* override Bootstrap vars */
    --bs-table-bg: var(--color-primary);      // fond thead
    --bs-table-color: #fff;                   // texte
    --bs-table-border-color: rgba(255,255,255,0.15);


    th {
      font-weight: 600;
      vertical-align: middle;
    }
  }

  tbody {
    tr:hover > * {
      --bs-table-color-state: var(--color-dark);
      --bs-table-bg-state: rgba(44, 95, 45, 0.1);
    }
  }

  td, th {
    vertical-align: middle;
  }

  .btn-info {
    background-color: var(--color-secondary); // bleu canard
    border: none;

    &:hover {
      background-color: darken(red, 10%);
    }
  }

  .btn-warning {
    background-color: var(--color-accent); // orange contraste
    border: none;

    &:hover {
      background-color: darken(rgb(188, 188, 245), 10%);
    }
  }

  .btn-danger {
    background-color: var(--color-danger); // rouge brique
    border: none;

    &:hover {
      background-color: darken(orange, 10%);
    }
  }
}
